@use "../partials/mixins" as m;

.container__wrapper {
  width: 100%;
  height: 100vh;
  background: radial-gradient(
      rgba(241, 241, 241, 0.687),
      rgba(78, 78, 78, 0.578)
    ),
    url("../../assets/images/funnel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @include m.flex();
}

.container {
  @include m.flex($dir: column);
  padding: 1.5rem;
  width: 400px;
  max-width: 90%;
  height: 500px;
  max-height: 80%;
  @include m.border(
    $width: 0.3rem,
    $color: rgba(0, 0, 0, 0.808),
    $radius: 0.5rem,
    $side:""
  );
  background: white;
  -webkit-box-shadow: 3px 17px 32px 0px #828282;
  box-shadow: 3px 17px 32px 0px #828282;
  &__header {
    @include m.flex($cross: flex-end, $gap: 0.5rem);
    img {
      width: 5rem;
    }
  }
  &__title {
    margin-block: 1rem;
    font-weight: bold;
    font-size: 1.75rem;
  }
  &:last-child a,
  &__reset {
    display: inline-block;
    cursor: pointer;
    margin-left: 0.5rem;
    text-decoration: none;
    color: rgb(53, 53, 53);
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

.container__form {
  flex: 1 1 auto;
  width: 100%;
  @include m.flex($dir: column, $gap: 2rem);
  input {
    width: 90%;
    height: 2rem;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-bottom: 2px solid black;
    background: transparent;
  }
  .error {
    background: rgba(211, 118, 118, 0.377);
    border-color: red;
  }
  button {
    background: transparent;
    cursor: pointer;
    padding: 0.3rem 1.5rem;
    font-size: 1rem;
    @include m.border($color: rgba(89, 89, 89, 0.87), $radius: 0.2rem, $side:"");
    &:hover {
      background: black;
      color: white;
      -webkit-box-shadow: 3px 3px 32px 0px #828282;
      box-shadow: 3px 3px 32px 0px #828282;
    }
  }
}
