@use "../partials/mixins" as m;

.nav {
  @include m.flex($dir: column, $main: space-between);
  position: relative;
  background: #ffffff;
  color: rgb(44, 44, 44);
  height: 100%;
  box-shadow: 0 2px 4px 0px;
  &__toggle {
    position: absolute;
    cursor: pointer;
    top: 2.5rem;
    right: -1.15rem;
    overflow: hidden;
    background: white;
    width: 38px;
    padding: 2px;
    @include m.border($side: "", $radius: 50%, $color: rgba(0, 0, 0, 0.397));
    @include m.flex();
    box-shadow: 0px 0px 4px 0px #4d4c4cce;
    &:hover {
      background: #000;
      svg path {
        fill: white;
      }
    }
  }
  &__logo {
    @include m.flex();
    @include m.border($side: "-bottom", $color: rgba(223, 223, 223, 0.781));
    & img {
      width: 120px;
      max-width: 60%;
      margin-left: 1rem;
    }
  }
  &__links {
    flex: 1 1 auto;
    list-style: none;
    padding-block: 2rem;
    @include m.flex($dir: column, $main: flex-start, $gap: 1.5rem);
  }
  &__logout {
    padding: 1rem 3rem;
    cursor: pointer;
    @include m.border($side: "-top", $color: rgba(223, 223, 223, 0.781));
    svg {
      margin-right: 0.3rem;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes rotateArrowClockWise {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

@keyframes navDrawerHide {
  0% {
    width: initial;
  }
  100% {
    width: 2.5%;
  }
}

.rotateClockWise {
  animation: rotateArrowClockWise 0.2s ease forwards;
}

.hide_nav {
  animation: navDrawerHide 0.15s ease forwards;
  .nav__toggle {
    visibility: visible;
  }
  .nav__header {
    visibility: hidden;
  }
  .nav__links {
    visibility: hidden;
  }
  .nav__logout {
    visibility: hidden;
  }
}

.nav__header {
  width: 100%;
  &-user {
    @include m.flex($gap: 1rem);
  }
  @include m.border($side: "-bottom", $color: rgba(223, 223, 223, 0.781));
}

.nav__header-user {
  margin-block: 1.5rem;
  padding: 0.5rem 1.5rem;
  &-email {
    font-size: 0.85rem;
  }
  & img {
    width: 3rem;
    background: white;
    @include m.border($side: "", $color: #464668);
    border-radius: 50%;
  }
  &_meta {
    @include m.flex($dir: column, $cross: flex-start, $gap: 0.5rem);
  }
}

.nav__header-user_meta {
  button {
    background: white;
    border: none;
    @include m.border($side: "");
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    font-size: 0.75rem;
    &:hover {
      background: black;
      color: white;
      -webkit-box-shadow: 3px 3px 32px 0px #828282;
      box-shadow: 2px 2px 12px 0px #828282;
    }
  }
}

.nav__links {
  li {
    @include m.flex($gap: 0.3rem);
    margin: 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

@include m.mediaQuery(768px) {
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    &__header-user_meta {
      p {
        font-size: 1.2rem;
      }
      button {
        font-size: 1rem;
      }
    }
    &__links {
      font-size: 1.2rem;
      & li {
        gap: 0.6rem;
      }
    }
    &__logout {
      font-size: 1.2rem;
      & svg {
        margin-right: 0.6rem;
      }
    }
  }
}

@include m.mediaQuery(550px) {
  .nav {
    width: 90%;
  }
}
