@use "../../../scss/partials/mixins" as m;

.home_container {
  width: 100%;
  min-height: 100vh;
  @include m.flex($cross: flex-start);
  section {
    background: #ffffffaa;
    flex: 1 1 auto;
    height: 100%;
  }
}
