@use "../../scss/partials/mixins" as m;

form {
  @include m.flex($dir: column, $gap: 1.2rem);
  padding: 2rem 1rem;
  input {
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 0.2rem 0.5rem;
    @include m.border($side: "-bottom", $width: 2px);
    background: transparent;
  }
}
